
<h1>NEW PRODUCTS</h1>

<ul class="">
    <li *ngFor="let product of componentProducts">
        <!-- Question Mark here is called "Optional Chaining". Why is it required?-->
        CAT ID: <span class="badge">{{product.catorgoryGroup?.catogoryId}}</span>
        CAT NAME: <span class="badge">{{product.catorgoryGroup?.catogoryName}}</span>
        PROD ID: <span class="name">{{product.productId}}</span>
        PROD DESC: <span class="name">{{product.productDescription}}</span>
        PROD PRICE: <span class="name">{{product.productPrice}}</span>
        <button type="button" (click)="buy(product)">
            <span class="badge">Buy</span>
        </button>
    </li>
</ul>

<app-cart></app-cart>