<p>catogories works!</p>

<!--
<h2>First Catogory</h2>
<div><span>id: </span>{{catogory.catogoryId}}</div>
<div><span>Catogory Name: </span>{{catogory.catogoryName}}</div>
<hr>
<div>
    <label for="catogoryName">Catogory Name: </label>
    <input id="catogoryName" [(ngModel)]="catogory.catogoryName" placeholder="name">
</div>

            <span class="badge">{{catogory.catogoryId}}</span>
            <span class="name">{{catogory.catogoryName}}</span>
-->
<h2>My Catogories</h2>
<ul class="catogories">
    <li *ngFor="let catogory of catogories">
        <span class="badge">{{catogory.catogoryId}}</span>
        <span class="name">{{catogory.catogoryName}}</span>
    </li>
</ul>

<br><br><br>

<hr>